In [1]:
%load_ext sql

In [2]:
%sql sqlite:///C:\Users\User\Desktop\sql\chinook.db

In [18]:
%%sql
SELECT * 
FROM 
 sqlite_master

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('table', 'albums', 'albums', 2, 'CREATE TABLE "albums"\r\n(\r\n    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Title] NVARCHAR(160)  NOT NULL,\r\n    [ArtistId] INTEGER  NOT NULL,\r\n    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'artists', 'artists', 4, 'CREATE TABLE "artists"\r\n(\r\n    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'customers', 'customers', 5, 'CREATE TABLE "customers"\r\n(\r\n    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [FirstName] NVARCHAR(40)  NOT NULL,\r\n    [Last ... (317 characters truncated) ... SupportRepId] INTEGER,\r\n    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'employees', 'employees', 8, 'CREATE TABLE "employees"\r\n(\r\n    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [LastName] NVARCHAR(20)  NOT NULL,\r\n    [First ... (356 characters truncated) ...     [Email] NVARCHAR(60),\r\n    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'genres', 'genres', 10, 'CREATE TABLE "genres"\r\n(\r\n    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'invoices', 'invoices', 11, 'CREATE TABLE "invoices"\r\n(\r\n    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [CustomerId] INTEGER  NOT NULL,\r\n    [InvoiceDat ... (226 characters truncated) ... NUMERIC(10,2)  NOT NULL,\r\n    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'invoice_items', 'invoice_items', 13, 'CREATE TABLE "invoice_items"\r\n(\r\n    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [InvoiceId] INTEGER  NOT NULL,\r\n    [Tr ... (191 characters truncated) ... TE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'media_types', 'media_types', 15, 'CREATE TABLE "media_types"\r\n(\r\n    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'playlists', 'playlists', 16, 'CREATE TABLE "playlists"\r\n(\r\n    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'playlist_track', 'playlist_track', 17, 'CREATE TABLE "playlist_track"\r\n(\r\n    [PlaylistId] INTEGER  NOT NULL,\r\n    [TrackId] INTEGER  NOT NULL,\r\n    CONSTRAINT [PK_PlaylistTrack] PR ... (125 characters truncated) ... TE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('index', 'sqlite_autoindex_playlist_track_1', 'playlist_track', 18, None),
 ('table', 'tracks', 'tracks', 20, 'CREATE TABLE "tracks"\r\n(\r\n    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(200)  NOT NULL,\r\n    [AlbumId] INTEG ... (415 characters truncated) ... ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('index', 'IFK_AlbumArtistId', 'albums', 22, 'CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId])'),
 ('index', 'IFK_CustomerSupportRepId', 'customers', 23, 'CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId])'),
 ('index', 'IFK_EmployeeReportsTo', 'employees', 24, 'CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo])'),
 ('index', 'IFK_InvoiceCustomerId', 'invoices', 26, 'CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId])'),
 ('index', 'IFK_InvoiceLineInvoiceId', 'invoice_items', 27, 'CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId])'),
 ('index', 'IFK_InvoiceLineTrackId', 'invoice_items', 28, 'CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId])'),
 ('index', 'IFK_PlaylistTrackTrackId', 'playlist_track', 29, 'CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId])'),
 ('index', 'IFK_TrackAlbumId', 'tracks', 30, 'CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId])'),
 ('index', 'IFK_TrackGenreId', 'tracks', 31, 'CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId])'),
 ('index', 'IFK_TrackMediaTypeId', 'tracks', 32, 'CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId])'),
 ('table', 'sqlite_stat1', 'sqlite_stat1', 864, 'CREATE TABLE sqlite_stat1(tbl,idx,stat)'),
 ('view', 'CustomerRevenue', 'CustomerRevenue', 0, 'CREATE VIEW CustomerRevenue AS\n\nSELECT \n    c.FirstName\t|| " " || c.LastName as Customer_Name,\n    sum(it.UnitPrice * it.Quantity) as Total_Reve ... (61 characters truncated) ... .CustomerId = i.CustomerId\nJOIN\n    invoice_items as it\nON\n    i.InvoiceId = it.InvoiceId  \n\nGROUP BY c.CustomerId\nORDER BY Total_Revenue DESC'),
 ('table', 'InvoiceLog', 'InvoiceLog', 866, 'CREATE TABLE InvoiceLog(\n    LogId INTEGER PRIMARY KEY AUTOINCREMENT,\n    InvoiceId INTEGER,\n    LogMessage TEXT,\n    LogDate DATETIME DEFAULT CURRENT_TIMESTAMP\n)'),
 ('trigger', 'LogNewInvoice', 'invoices', 0, 'CREATE TRIGGER LogNewInvoice\nAFTER INSERT ON invoices\nBEGIN \n    INSERT INTO InvoiceLog(InvoiceId,LogMessage)\n    VALUES(NEW.InvoiceId, "New invoice Added");\nEND')]

In [19]:
%%sql
-- 1. Create a sales report showing total revenue per country per year
SELECT 
    c.Country as Country,
    SUM(CASE WHEN strftime("%Y", i.InvoiceDate)  = "2009" THEN round(i.Total, 2) ELSE 0 END) as Revenue_2009,
    SUM(CASE WHEN strftime("%Y", i.InvoiceDate)  = "2010" THEN i.Total ELSE 0 END) as Revenue_2010,
    SUM(CASE WHEN strftime("%Y", i.InvoiceDate) = "2011" THEN i.Total ELSE 0 END) as Revenue_2011
FROM 
    customers c
JOIN
    invoices i
ON
    c.CustomerId = i.CustomerId	

GROUP BY c.Country

LIMIT 5

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('Argentina', 0, 11.88, 0.99),
 ('Australia', 11.88, 0.99, 1.98),
 ('Austria', 1.98, 27.77, 0),
 ('Belgium', 6.930000000000001, 0, 24.75),
 ('Brazil', 37.62, 41.6, 19.8)]

In [23]:
%%sql
--  2. Find the top 5 employees (support reps) by total sales
SELECT 
    e.LastName || " "	|| e.FirstName as Employeee,
    sum(i.Total) as Total_Sales

FROM 
    employees e
JOIN 
    customers c
ON
    c.SupportRepId = e.EmployeeId	
JOIN 
    invoices i
ON
    c.CustomerId = i.CustomerId
GROUP BY c.CustomerId
ORDER BY Total DESC
LIMIT 5

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('Park Margaret', 37.62),
 ('Johnson Steve', 49.62),
 ('Park Margaret', 37.62),
 ('Johnson Steve', 37.62),
 ('Park Margaret', 37.62)]

In [17]:
%%sql
--   3. Report: Revenue per genre, broken down by media type
SELECT *
FROM 
    customers c
JOIN 
    invoices i
ON
    c.CustomerId = i.CustomerId
LIMIT 5

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)]